# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
    name = Matt Berghout
    email = mberghout4@gmail.com
[credential]
    helper = store
[diff]
    tool = vimdiff
[difftool]
    prompt = false
[alias]
    d = difftool
[difftool "nvimdiff"]
    cmd = "nvim -d -u ~/.vimrc \"$LOCAL\" \"$REMOTE\""
[color]
    diff = auto
    status = auto
    branch = auto
    interactive = auto
    ui = true
    pager = true
